@* pong Template File *@
@()(implicit request: RequestHeader)

@main("Pong!"){
	<br>
	<h2>Pong!</h2>
	<canvas id="myCanvas" width=800 height=400 style="border:1px solid #000000;"></canvas>
	<div>
		<br>
		<button>Restart Game!</button>
	</div>
	<br><br><br><br>
	<p> Player 1 controls: ws </p>
    <p> Player 2 controls: ki </p>
    <input type="hidden" id="route1" value="@routes.PongController.start">
    @scalajs.html.scripts("CSCI345-S18-client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
}
