@* userTable Template File *@
@(username:String, password:String, tasks:Seq[Task], taskForm:Form[NewTask])(implicit request: MessagesRequestHeader, flash: Flash)

@main("Task List") {
	<br>
	<h2>Task List</h2>
	<p>This page shows a table of books that is populated using Slick to populate a database.</p>
	<table border="1">
		<tr><th>Task</th></tr>
		@for(t<-tasks){
			@if(t.username == username && t.password == password){
				<tr><td>@t.task</td></tr>
			}
		}
	</table>
	
	@helper.form(action = helper.CSRF(routes.SlickController.addTask)) {
	  @helper.inputText(taskForm("task"))
	  <input type="submit" value="Add New Task">
	}
	
	@helper.form(action = helper.CSRF(routes.SlickController.removeTask)) {
	  @helper.inputText(taskForm("task"))
	  <input type="submit" value="Remove Task">
	}
	<br>
	@helper.form(action = helper.CSRF(routes.SlickController.login)) {
	  <input type="submit" value="Logout">
	}
	
}