@* taskList Template File *@
@(username:String,password:String, tasks:List[String])(implicit request: RequestHeader)

@main("Task List"){
	<br>
	<h2>Task List for @username</h2><br>
	@for(tk <- tasks) {
		<p>@tk</p><br>	
	}
	
	<form id="add" action="@routes.HomeController.addItem(username,password)" method="POST">
	@helper.CSRF.formField
	<input type = "text" name = "add" value = "TODO">
	<input type = "submit" value="Add Item">
	</form>
	
	<form id="remove" action="@routes.HomeController.removeItem(username,password)" method="POST">
	@helper.CSRF.formField
	<input type = "text" name = "remove" value = "TODO">
	<input type = "submit" value="Remove Item">
	</form>
	
	<form id="logout" action="@routes.HomeController.login()" method="GET">
	<input type = "submit" value="Logout">
	</form>
}
